@import '../../../utils/mixin.scss';
.filter-beauty {
  height: 100%;
  overflow: auto;
  padding: 0 16px;
  @include scrollBar(8px, #dcdcdc, #fff);
  & > .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    & > .list-item {
      // width: 106px;
      // height: 106px;
      // margin-bottom: 33px;
      margin: 0 3% 5% 0;
      border: 4px solid #fff;
    }
    & > .active {
      border: 4px solid #7787e9;
    }
  }
}
